<div id="main-wrapper">
	<app-header></app-header>
	<app-left-sidebar></app-left-sidebar>
	
	<!-- ============================================================== -->
	<!-- Page wrapper  -->
	<!-- ============================================================== -->
	<div class="page-wrapper">
		<!-- ============================================================== -->
		<!-- Container fluid  -->
		<!-- ============================================================== -->
		<div class="container-fluid">
		<!-- ============================================================== -->
		<!-- Bread crumb and right sidebar toggle -->
		<!-- ============================================================== -->
			<div class="row page-titles">
				<div class="col-md-5 align-self-center">
					<h4 class="text-themecolor">Dashboard</h4>
				</div>
				<div class="col-md-7 align-self-center text-right">
					<div class="d-flex justify-content-end align-items-center">
						<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
						<li class="breadcrumb-item active">Dashboard</li>
						</ol>
						<!-- <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button> -->
					</div>
				</div>
			</div>
				<!-- ============================================================== -->
				<!-- End Bread crumb and right sidebar toggle -->
				<!-- ============================================================== -->
				<!-- ============================================================== -->
				<!-- Info box -->
				<!-- ============================================================== -->
				<div class="row">
					<!-- column -->
					<div class="col-lg-3 col-md-6">
						<div class="card">
						<a href="total-rides.php">
							<div class="card-body bg-primary text-white">
								<div class="d-flex no-block m-b-20">
									<h5>Total Rides</h5>
									<!-- <span class="ml-auto"><i class="fa fa-caret-up"></i> 260</span> -->
								</div>
								<div id="sparkline1dash"></div>
							</div>
						</a>
							<div class="card-body">
								<div class="d-flex no-block align-items-center">
									<div class="">
										<h6>Total</h6>
										<h4>20</h4>
									</div>
									<div class="ml-auto">
										<div data-label="100%" class="css-bar css-bar-100 css-bar-lg m-b-0 css-bar-danger"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- column -->
					<div class="col-lg-3 col-md-6">
						<div class="card">
						<a href="booked-rides.php">
							<div class="card-body bg-info text-white">
								<div class="d-flex no-block m-b-20">
									<h5>Total Booked Rides</h5>
									<!-- <span class="ml-auto"><i class="fa fa-caret-up"></i> 160</span> -->
								</div>
								<div id="sparkline2dash" class="text-center"></div>
							</div>
						</a>
							<div class="card-body">
								<div class="d-flex no-block align-items-center">
									<div class="">
										<h6>Total</h6>
										<h4>10</h4>
									</div>
									<div class="ml-auto">
										<div data-label="50%" class="css-bar css-bar-50 css-bar-lg m-b-0 css-bar-info"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- column -->
					<div class="col-lg-3 col-md-6">
						<div class="card">
						<a href="rejected-rides.php">
							<div class="card-body bg-purple text-white">
								<div class="d-flex no-block m-b-20">
									<h5>Total Rejected Rides</h5>
									<!-- <span class="ml-auto"><i class="fa fa-caret-up"></i> 260</span> -->
								</div>
								<div id="sparkline3dash"></div>
							</div>
						</a>
							<div class="card-body">
								<div class="d-flex no-block align-items-center">
									<div class="">
										<h6>TOTAL</h6>
										<h4>4</h4>
									</div>
									<div class="ml-auto">
										<div data-label="20%" class="css-bar css-bar-20 css-bar-lg m-b-0 css-bar-purple"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- column -->
					<div class="col-lg-3 col-md-6">
						<div class="card">
						<a href="cancelled-rides.php">
							<div class="card-body bg-dark text-white">
								<div class="d-flex no-block m-b-20">
									<h5>Total Cancelled Rides</h5>
									<!-- <span class="ml-auto"><i class="fa fa-caret-up"></i> 260</span> -->
								</div>
								<div id="sparkline4dash" class="text-center"></div>
							</div>
						</a>
							<div class="card-body">
								<div class="d-flex no-block align-items-center">
									<div class="">
										<h6>TOTAL</h6>
										<h4>6</h4>
									</div>
									<div class="ml-auto">
										<div data-label="30%" class="css-bar css-bar-30 css-bar-lg m-b-0 css-bar-inverse"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- column -->
					<div class="col-lg-3 col-md-6">
						<div class="card">
						<a href="successful-rides.php">
							<div class="card-body bg-primary text-white">
								<div class="d-flex no-block m-b-20">
									<h5>Total Successful Rides</h5>
									<!-- <span class="ml-auto"><i class="fa fa-caret-up"></i> 260</span> -->
								</div>
								<div id="sparkline1dash"></div>
							</div>
						</a>
							<div class="card-body">
								<div class="d-flex no-block align-items-center">
									<div class="">
										<h6>Total</h6>
										<h4>8</h4>
									</div>
									<div class="ml-auto">
										<div data-label="40%" class="css-bar css-bar-40 css-bar-lg m-b-0 css-bar-danger"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- column -->
					<div class="col-lg-3 col-md-6">
						<div class="card">
						<a href="#">
							<div class="card-body bg-info text-white">
								<div class="d-flex no-block m-b-20">
									<h5>Total Revenue</h5>
									<!-- <span class="ml-auto"><i class="fa fa-caret-up"></i> 160</span> -->
								</div>
								<div id="sparkline2dash" class="text-center"></div>
							</div>
						</a>
							<div class="card-body">
								<div class="d-flex no-block align-items-center">
									<div class="">
										<h6>Total</h6>
										<h4>2400</h4>
									</div>
									<div class="ml-auto">
										<div data-label="100%" class="css-bar css-bar-100 css-bar-lg m-b-0 css-bar-info"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- column -->
					<div class="col-lg-3 col-md-6">
						<div class="card">
							<div class="card-body bg-purple text-white">
								<div class="d-flex no-block m-b-20">
									<h5>Star Rating </h5>
									<!-- <span class="ml-auto"><i class="fa fa-caret-up"></i> 260</span> -->
								</div>
								<div id="sparkline3dash"></div>
							</div>
							<div class="card-body">
								<div class="d-flex no-block align-items-center">
									<div class="">
										<h6>TOTAL</h6>
										<h4>8</h4>
									</div>
									<div class="ml-auto">
										<div data-label="40%" class="css-bar css-bar-40 css-bar-lg m-b-0 css-bar-purple"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- End Info box -->
				<!-- ============================================================== -->

	<app-right-sidebar></app-right-sidebar>
	</div>
<!-- End Container fluid  -->
</div>
<!-- End Page wrapper  -->
<app-footer></app-footer>	
</div>

<div>	
	<router-outlet></router-outlet>	
</div>