@media (min-width: 768px){
	.left-sidebar{
		padding-top: 60px;
	}
}
.topbar .top-navbar .navbar-header .navbar-brand .light-logo{
	width: 100%;
}
.dropdown-menu{
	border: 0;
	border-radius: 0;
	background: #565656;
	width: 95%;
}
.dropdown-menu li a, .dropdown-menu li a:active{
	color: #fff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	color: #f8f400;
	background: #565656;
}
.left-sidebar .user-pro-body a.link {
    color: #ffffff;
}
.user-profile{
	background: #565656;
	padding: 10px 0px;
	margin-top:0;
}
.sidebar-nav ul li a.active{
	color: #f8f400;
}
.sidebar-nav>ul>li.active>a{
	color: #f8f400;
    border-left: 3px solid #f5f104;
}
.sidebar-nav>ul>li.active>a i {
    color: #f8f400;
}
.sidebar-nav ul li a:hover, .sidebar-nav ul li a:hover i{
	color: #f8f400;
	text-decoration: none;
}
.sidebar-nav>ul>li>a i:hover, .sidebar-nav>ul>li>a i:active{
	color: #f8f400;
}
.caret{ display: none; }
@media (min-width: 320px) and (max-width: 768px){
	.left-sidebar{
		top:32px;
		left: -360px;
		padding-top: 0;
	}
	.sidebar-nav{
		background-color: #2b2b2b;
	}
	.caret{ display: inline-block; }
	.dropdown-menu{margin-left: 10px;}

}
