
.form-control{
	border: 0px;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
	padding: 0px 10px;
	line-height: 30px;
	font-size: 1.4rem;
	min-height: 25px;
	height: 25px;
	box-shadow: none;
	-webkit-box-shadow:none;
	transition: none;
}
.btn-warning, .btn-warning:hover, .btn-warning.focus, .btn-warning:focus{
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-dark{	
	background-color: #303030; 
	color: #f7f200; 
	border: 1px solid #000;
	margin-right: 15px;
}
.m-0{margin:0;}

.form-control.cal{
	width: 90%;
}
.input-group-append{
	width: 10%;
    border-bottom: 1px solid #ccc;
}
button.calendar, button.calendar:active {
	width:100%;
	padding: 0rem 0rem;
	font-size: 1.4rem;
	font-weight: 400;
    line-height: 1.6;
    color: #565656;
    text-align: center;
    white-space: nowrap;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 0.25rem;
}
.btn-secondary{
	background-color: #565656;
    color: #fff;
}
.to-d{
	width: 92%;
}
.m-l{
	margin-left: 15px;
}

.p-r-0{
	padding-right: 0;
}

.label{
	padding-top: 0.7rem;
}
.btn-m{
	margin-left: 5px;
}

.sup-e{
	color: #FF0000;
	top: -0.4rem;
	font-size: 1.4rem;
	lefy:5px;
}
hr{
	margin-right: 15px;
}
@media( max-width : 585px ){
	form label{ font-size: 1.2rem;}
	.card-title{
		font-size: 15px;
	}

	.input-group-append{
		width: 15%;
	}
	.form-control.cal{
		width: 85%;
	}
	.m-m-l{
		margin-left:0!important; 
	}
	.m-p-0{ 
		padding: 0; 
	}
	.in-up{
		padding-left: 0;
		margin-bottom: 15px;
	}
	.var-doc{
		padding: 0.8rem;
	}
	.to-d{
		width: 100%;
	}

}
