.form-control{
	border: 0px;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
	padding: 0px 10px;
	line-height: 30px;
	font-size: 1.4rem;
	min-height: 25px;
	height: 25px;
	box-shadow: none;
	-webkit-box-shadow:none;
	transition: none;
}
.btn-warning, .btn-warning:hover, .btn-warning.focus, .btn-warning:focus{
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}
.btn-dark{	
	background-color: #303030; 
	color: #f7f200; 
	border: 1px solid #000;
	margin-right: 15px;
}
.m-0{margin:0;}

.m-l{
	margin-left: 16px;
}
.sup-e{
	color: #FF0000;
	top: -0.4rem;
	font-size: 1.4rem;
	lefy:5px;
}

hr{
	margin-right: 15px;
}
@media( max-width : 585px ){
	form label{ font-size: 1.2rem;}
	.card-title{
		font-size: 15px;
	}
}


